In [2]:
import pandas as pd
import spacy

In [3]:
df_raw = pd.read_csv('../HW/Raw_Skills_Dataset.csv')

In [4]:
df_raw

                                            RAW DATA
0                                           What ifs
1                                          seniority
2                                        familiarity
3                                    functionalities
4                                            Lambdas
...                                              ...
34111                                    negotiation
34112                                      deadlines
34113  Self-motivated, enthusiastic and strong drive
34114                                    negotiation
34115                                      deadlines

[34116 rows x 1 columns]

## Cleaning up requires removal of punctuation marks

In [5]:
helper = spacy.load('en_core_web_lg')

In [6]:
df_raw['Cleaned'] = df_raw['RAW DATA'].apply(lambda text: " ".join(token.text for token in helper(text) if not token.is_punct))

In [9]:
df_raw.head()

          RAW DATA          Cleaned
0         What ifs         What ifs
1        seniority        seniority
2      familiarity      familiarity
3  functionalities  functionalities
4          Lambdas          Lambdas

## Since no other knowledge is known, I tried extracting certain data from it, I found that most of the Data in example had an Organization or entity name in them, and these were all Nouns. The experimentation can be found in the other notebook.